p{
    color: #ffffff;
    margin: .5em 0;
    font-size: large;
    font-weight: 400;
    
}

/* // */

button{
    width: 30%;
    border: none;
  background-color: #58f2e8;
  padding: 10px;
  outline: none;
  height: 35px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: border-color .2s ease-in-out;
  cursor: pointer;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
}

span{
    color: #58f2e8;
    cursor: pointer;
        margin: 2px;
}