.container{
height: 100vh;
width: 100vw;
background-image:url("E:\Chandigarh University\4th semester\project\Talkify-logos\Talkify-logos.jpeg"), linear-gradient(to bottom right, rgb(0, 0, 0), rgb(100, 103, 174));
background-repeat: no-repeat;
background-size: 47%;
display: flex;
position: absolute;
justify-content: right;
align-items: right;

}

.wrapper{
    height: 100%;
    width: 62%;
    color: #080808;
    background-image: linear-gradient(to bottom right, rgb(12, 15, 108), rgb(135, 35, 144), rgb(204, 167, 228));
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}

.welcomeText{
font-family: 'Source Sans Pro';
margin-top: 5rem;
  height: 40%;
  padding: 2em 0 2em 2em;
}

.welcomeText p {
color: white;
font-size: 2rem;
font-weight: 600;
text-decoration: none solid rgb(255,255,255);
text-align: center;
word-spacing: 0;
margin-bottom: 5px;
}

.welcomeText span {
  color: #031533;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none solid rgb(255,255,255);
  text-align: center;
  word-spacing: 0;
  margin-bottom: 5px;
  }

.loginItems{
  width: 60%;
  padding-bottom: 8em;
}

input{
  display: block;  
  border: none;
  background-color: #e8f0fe;
  padding: 10px;
  outline: none;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  transition: border-color .2s ease-in-out;
}

input:focus {
  outline: 1px solid #5865f2;
}

