.container{
    background-image: linear-gradient( rgb(181, 220, 226), rgb(13, 17, 220));
    display: flex;
    flex-direction: column;
    flex: 0.25;
    color: rgb(255, 255, 255);
    height: 100vh;
}
.container__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #253135;
    color:  white;
    border-bottom: 3px solid #23282c;
    
}
.addIcon{
    background-color: #2c1e60;
    border-radius: 36%;
    height: .4cm;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  .68rem 0;
    padding: 17.5px;
}

.addIcon:hover{
    background-color: #613db3;
}