.addIcon{
    background-color: #2f3135;
    border-radius: 38%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  1rem 0;
    padding: 20px;
}

.addIcon:hover{
    background-color: #293291;
}